<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>LOCA-MAT ENTREPRISE</title>
</head>
<body>

<div align="center">

  <header>
    <h1>LOCA-MAT ENTREPRISE</h1>
    <nav>
      <a href="{{ url_for('home') }}">Accueil</a> |
      <a href="{{ url_for('dashboard_ui') }}">Dashboard</a> |
      <a href="{{ url_for('articles_ui') }}">Articles</a> |
      <a href="{{ url_for('contrats_ui') }}">Louer</a> |
      <a href="{{ url_for('retours_ui') }}">Rendre un article</a>
    </nav>
    <hr>
  </header>
  <section>
    <img src="static/image/logo-locamat.png" alt="Logo LOCA-MAT" width="600" height="auto">
    <h2>Location de matériel informatique & industriel</h2>
    <p style="max-width:800px; margin:auto;">
      Bienvenue sur la plateforme de gestion de location de matériel de Solutions Logistiques SA.
      Gérez facilement vos articles, contrats et retours grâce à notre interface performante.
    </p>
  </section>
  <br><br>
  <section style="max-width:900px; margin:auto; text-align:left;">
    <h3 style="text-align:center;">Solutions Logistiques SA – Gestion Intelligente de Matériel à Louer</h3>

    <p>
      Solutions Logistiques SA centralise et optimise la gestion de son parc de matériel informatique et industriel destiné à la location.
      Notre mission : offrir à nos clients des solutions fiables, rapides et transparentes, tout en garantissant l’intégrité et la disponibilité de chaque équipement.
    </p>

    <p>
      Grâce à notre plateforme <strong>LOCA-MAT Entreprise</strong>, chaque article est suivi en temps réel.
      Nos contrats de location sont entièrement automatisés, avec un calcul tarifaire dynamique prenant en compte la durée, le profil client et les incidents passés, pour une facturation juste et précise.
    </p>

    <p>
      Notre système assure également une sécurité et une fiabilité : gestion des conflits de réservation, suivi des stocks et protection de vos données.
    
    </p>
  </section>

</div>

</body>
</html>
